@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: .3s linear;
    transition: .3s linear;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#active {
    background-color: #e7ab3c;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30px;
    gap: 0px;
}

.email {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    height: 50px;
    width: 350px;
    padding-left: 100px;
}

.email p {
    font-size: 14px;
    margin-top: 15px;
    float: right;
}

.phone-number-social-media {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    width: 700px;
    height: 50px;
    justify-content: space-between;
    padding: 0px 10px;
}

.phone-number {
    display: flex;
    flex-wrap: wrap;
}

.phone-number p {
    padding-top: 15px;
    font-size: 14px;
}

.phone-number i {
    padding-top: 10px;
}

.phone-number-social-media-icons {
    padding-top: 5px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border:1px solid #ddd;
    width: 299px;
}

.user a {
    font-size: 14px;
    text-decoration: none;
    color: #444;
    padding-top: 10px;
}

.fa {
    padding: 5px;
    font-size: 25px;
    width: 35px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      color: #e7ab3c;
  }

  .fa-facebook {
    color: #444;
  }

  .fa-twitter {
    color: #444;
  }

  .fa-linkedin {
    color: #444;
  }

  .fa-pinterest {
    color: #444;
  }


nav {
    margin: 50px 100px 25px 100px;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    padding: 0px;
}

.logo img {
    width: 80px;
    margin-top: 15px;
}

.search-bar form {
    padding: 5px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 200px;
}

.search-bar select {
    border: 1px solid #444;
    padding: 10px;
    background-color: #444;
    color: #fff;
}

.search-bar button {
    width: 43px;
    height: 43px;
    background-color: #e7ab3c;
    color: #fff;
}

.search-bar input {
    border: 1px solid #ddd;
    color: #444;
    padding: 10px;
    width: 400px;
}

.checkout {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    justify-content: space-between;
}

.checkout p {
    padding-top: 10px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    height: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-align: center;
    align-items: center;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
    background-color: #444;
    height: 65px;
  }
  
  .dropdown .dropbtn {
    font-size: 15px;  
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #e7ab3c;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #fff;
    color: #e7ab3c;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.hero-image {
    background-image: url(img/hero-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.hero-image-text {
    position: absolute;
    width: 500px;
    top: 400px;
    left: 150px;
}

.hero-image-text h1 {
    font-size: 50px;
}

.hero-image-text p {
    font-size: 17px;
    color: #333;
    margin-top: 20px;
}

.hero-image-text button {
    padding: 10px 20px;
    background-color: #e7ab3c;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    margin: 75px 100px;
    justify-content: space-between;
}

.categories-single-1 {
    background-image: url(img/banner-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
}

.categories-single-1 button {
    padding: 10px 50px;
    text-align: center;
    margin: 100px 100px;
    text-transform: uppercase;
    color: #333;
    background-color: #ddd;
    font-weight: 700;
    font-size: 20px;
}
.categories-single-2 {
    background-image: url(img/banner-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
}

.categories-single-2 button {
    padding: 10px 50px;
    text-align: center;
    margin: 100px 100px;
    text-transform: uppercase;
    color: #333;
    background-color: #ddd;
    font-weight: 700;
    font-size: 20px;
}
.categories-single-3 {
    background-image: url(img/banner-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 350px;
    height: 200px;
}

.categories-single-3 button {
    padding: 10px 50px;
    text-align: center;
    margin: 100px 100px;
    text-transform: uppercase;
    color: #333;
    background-color: #ddd;
    font-weight: 700;
    font-size: 20px;
}
